<div class="container">
 <div class="row">
   <div class="col-md" align="justify">
     <button  *ngFor="let element of YearsNumber" class="button1" (click)="changeYearsData(element)">
      <p > Année - {{element}} </p>
     </button>
   </div>
 </div>
  <div class="row">
  <div class="col-md">
    <mat-card style="overflow:scroll; width: 500px; height: 250px;">
      Selectionnez la ligne :  <select [(ngModel)]="selectedOptionLine">
      <option>Selectionnez la ligne</option>
      <option *ngFor="let element of NumberOfLine"[value]="element">
        Ligne - {{element}}
      </option>
    </select>
      <br/>
      Selectionnez le mois :  <select [(ngModel)]="selectedOptionMonth">
      <option *ngFor="let element of monthNumber"[value]="element">
         {{element}}
      </option>
    </select>

      <button (click)=executeForm()>Confirmer</button>
      <table  mat-table [dataSource]="dataSourceLine">

        <ng-container matColumnDef="Heure">
          <th mat-header-cell *matHeaderCellDef style="padding-left: 20px"> Heure</th>
          <td mat-cell *matCellDef="let element" style="padding-left: 20px"> {{element.hourArrival}} </td>
        </ng-container>

        <ng-container matColumnDef="Retards">
          <th mat-header-cell *matHeaderCellDef style="padding-left: 20px">Temps de retards</th>
          <td mat-cell *matCellDef="let element" style="padding-left: 20px"> {{element.delayForecast}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumnsLineChart"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsLineChart;"></tr>
      </table>
    </mat-card>
  </div>
   <div class="col-md">
     <mat-card>

       <div class="chart-wrapper">
         <h3>Graphique des lignes les plus en retards</h3>
         <canvas baseChart
                 [data]="CountDelayForChart"
                 [labels]="LineNumberForChart"
                 [options]="barChartOptions"
                 [plugins]="barChartPlugins"
                 [legend]="barChartLegend"
                 [chartType]="barChartType">
         </canvas>
       </div>
     </mat-card>
  </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-card>
        <h3>Carte d'identité de la ligne la plus en retard </h3>
        <br> Numéro de la ligne : {{trackingLine.lineNumber}}
        <br> Destination :  {{trackingLine.stationDeparture.toLowerCase() | titlecase}}
        <br> Nombre de retard :  {{trackingLine.delayForecast}}
      </mat-card>
    </div>
    <div class="col" >
      <mat-card style="overflow:scroll; width: 500px; height: 250px;">
        <table  mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="count">
            <th mat-header-cell *matHeaderCellDef> Nombre de retard </th>
            <td mat-cell *matCellDef="let element"> {{element.count}} </td>
          </ng-container>

          <ng-container matColumnDef="dateObs">
            <th mat-header-cell *matHeaderCellDef>Date </th>
            <td mat-cell *matCellDef="let element"> {{element.dateObservation}} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card>
    </div>
  </div>
</div>
