<div class="container">
  <div class="row">
    <div class="col-md" align="justify">
      <button class="btn btn-outline-success btn-sm" *ngFor="let element of YearsNumber" (click)="changeYearsData(element)">
        <p> {{element}} </p>
      </button>
    </div>
  </div>
  <div class="row">
  <div class="col-md">
    <mat-card>
      <form [formGroup]="formulaire" (ngSubmit)="executeForm()">
      Selectionnez la ligne :  <select [(ngModel)]="selectedOptionLine" formControlName="selectLine">
      <option>Selectionnez la ligne</option>
      <option *ngFor="let element of NumberOfLine$" [value]="element">
        Ligne - {{element}}
      </option>
    </select>
      <br/>
      Selectionnez le mois :  <select [(ngModel)]="selectedOptionMonth" formControlName="selectMonth">
      <option *ngFor="let element of monthNumber"[value]="element">
         {{element}}
      </option>
    </select>
        <input type="submit" [disabled]="formulaire.invalid" class="btn btn-primary btn-sm">
      </form>
      <div>
        <h4>{{hourGraphTitle}}</h4>
        <button class="btn btn-outline-success btn-sm" (click)="ChangeParam(1,1)">
          Précipitations neige
        </button>
        <button class="btn btn-outline-success btn-sm" (click)="ChangeParam(2,1)">
          Précipitations pluie
        </button>
        <button class="btn btn-outline-success btn-sm" (click)="ChangeParam(3,1)">
          Visibilité
        </button>
        <button class="btn btn-outline-success btn-sm" (click)="ChangeParam(4,1)">
          Vitesse Vent
        </button>
        <canvas baseChart
                [datasets]="dataChartSetHour"
                [labels]="LabelForecastChart"
                [options]="lineChartOptions"
                [legend]="chartLegend"
                [chartType]="ChartTypeMixed">
        </canvas>
      </div>
    </mat-card>
  </div>
   <div class="col-md">
     <mat-card>
       <div class="chart-wrapper">
         <h3>{{lineGraphTitle}}</h3>
         <canvas baseChart
                 [datasets]="countDelayByLine"
                 [labels]="LineNumberForChart"
                 [options]="chartOptions"
                 [legend]="chartLegend"
                 [chartType]="barChartType">
         </canvas>
        <div class="text">
         <h3>Carte d'identité de la ligne la plus en retard pour l'année {{years}}
         <br>Numéro de la ligne : {{lineMostDelay$.lineNumber}}
         <br> Destination :  {{lineMostDelay$.stationDeparture.toLowerCase() | titlecase}}
        </h3>
        </div>
       </div>
     </mat-card>
  </div>
  </div>
  <div class="row">
 <!--   <div class="col col-md" >
      <mat-card>
        <h3>{{yearGraphTitle}}</h3>
          <canvas baseChart
                  [datasets]="dataMonthCharset"
                  [labels]="labelLinear"
                  [options]="chartOptions"
                  [legend]="chartLegend"
                  [chartType]="barChartType"
                  (chartClick)="chartClicked($event)">
          </canvas>
      </mat-card>
    </div> -->
    <div class="col-md">
      <mat-card>
        <h4 class="text">{{monthGraphTitle}}</h4>
        <button class="btn btn-outline-success" (click)="ChangeParam(1,2)">
          Précipitations neige
        </button>
        <button class="btn btn-outline-success" (click)="ChangeParam(2,2)">
          Précipitations pluie
        </button>
        <button class="btn btn-outline-success" (click)="ChangeParam(3,2)">
          Visibilité
        </button>
        <button class="btn btn-outline-success" (click)="ChangeParam(4,2)">
          Vitesse Vent
        </button>
        <canvas baseChart
                [datasets]="dataDayCharset"
                [labels]="labelDay"
                [options]="lineChartOptions"
                [legend]="chartLegend"
                [chartType]="ChartTypeMixed"
                (chartClick)="specificChartClicked($event)">
        </canvas>
      </mat-card>
    </div>
  <!--  </div> -->
  <div class="col-md">
    <mat-card>
      <h3>{{weatherGraphTitle}}</h3>
      <canvas baseChart
              [datasets]="pieChartDataSet"
              [options]="chartOptionsRadar"
              [legend]="chartLegendRadar"
              [labels]="pieChartLabels"
              [chartType]="pieChartType">
      </canvas>
    </mat-card>
  </div>
  <div class="row">
    <!--<div class="col col-md">
      <mat-card>
        <h3>{{weatherGraphTitle}}</h3>
        <canvas baseChart
                [datasets]="pieChartDataSet"
                [options]="chartOptionsRadar"
                [labels]="pieChartLabels"
                [chartType]="pieChartType">
        </canvas>
      </mat-card>
    </div>-->
  </div>
  </div>
</div>
