.text {
  margin: 0;
  position: absolute;
  top:20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.col {
  margin-top: 10%;
  list-style-type: none;
  border: 2px inset black;
  border-radius: 10px;
  box-shadow: 6px 6px 0px black;
  background-color: aliceblue;
  text-align: center;
  cursor: pointer;


}

